.champ_portrait{
	width: 62px;
	height: 62px;
	margin-top:50px;
}

.navbar-inverse {
	background: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #0082c8, #0082c8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #0082c8, #0082c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

body {
	background: #070000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D3CCE3, #E9E4F0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D3CCE3, #E9E4F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li:hover {
  background: #519ACC;
}

#logo {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-top: 3%;
    display:inline-block;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #fff;
    background-color: #3385ff;
}